.homepage-header {
  margin-top: 4em;
  font-size: 1.5em;
  text-align: center;
  transform: scale(2);
}

.homepage-header:before {
  content: url(logilab.svg);
}

.homepage-summary {
  font-size: 1.5em;
}

.homepage-body {
  margin: 5em;
  font-size: 1em;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(homePage.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.jp-Launcher {
  overflow-y: auto;
}
